{% extends 'base.html.twig' %}

{% block title %}Student index{% endblock %}

{% block body %}
    <h1>Student index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Birthdate</th>
                <th>Email.value</th>
                <th>Username.value</th>
                <th>Address.city</th>
                <th>Address.country</th>
                <th>Address.addressLine1</th>
                <th>Address.addressLine2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student in students.items %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.email.value }}</td>
                <td>{{ student.username.value }}</td>
                <td>{{ student.address.city }}</td>
                <td>{{ student.address.country }}</td>
                <td>{{ student.address.addressLine1 }}</td>
                <td>{{ student.address.addressLine2 }}</td>
                <td>
                    <a href="{{ path('app_student_show', {'id': student.id}) }}">show</a>
                    <a href="{{ path('app_student_edit', {'id': student.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_student_new') }}">Create new</a>
{% endblock %}
